/* external link */
a:link {
    text-decoration: none;
}
/********************************************************************************/

/* INDEX - Education */
div.education-custom-card-header {
    background: #AF7AC5; // Dark-purple
}

span.education-custom-card-header {
    font-size: 20px;
    font-weight: bold;
}

span.education-custom-card-sub-header {
    font-size: 17px;
    color: white;
}

div.education-custom-card-body {
    background: #EBDEF0; // Light-purple
}
/******************************************************************************/

/* INDEX Work experiences */
div.workexperiences-custom-card-header {
    background: #5499C7; // Dark-blue
}

span.workexperiences-custom-card-header {
    font-size: 20px;
}

span.workexperiences-custom-card-sub-header {
    font-size: 15px;
    color: white;
}

div.workexperiences-custom-card-body {
    background: #D4E6F1; // Light-blue
}
/******************************************************************************/

/* PUBBLICATIONS */
span.publications-number {
    font-size: 19px;
}
span.publications-author {}
span.publications-title {}
span.publications.conference {}
/******************************************************************************/

/* ATTENDANCE */
span.attendance-name {}
span.attendance-date {
    color: grey;
}
span.attendance-venue {
    color: grey;
}
/******************************************************************************/

/* POSTS */
span.posts-title {
    font-size: 50px;
    font-weight: bold;
}
span.posts-subtitle {
    font-size: 35px;
    font-weight: bold;
}
span.posts-auth-date-info {
    color: grey;
}
/******************************************************************************/
