/* external link */
a:link {
    text-decoration: none;
}
/********************************************************************************/

/* INDEX - Education */
div.education-custom-card-header {
    background: #AF7AC5; // Dark-purple
}

span.education-custom-card-header {
    font-size: 20px;
    font-weight: bold;
}

span.education-custom-card-sub-header {
    font-size: 17px;
    color: white;
}

div.education-custom-card-body {
    background: #EBDEF0; // Light-purple
}
/******************************************************************************/

/* INDEX Work experiences */
div.workexperiences-custom-card-header {
    background: #5499C7; // Dark-blue
}

span.workexperiences-custom-card-header {
    font-size: 20px;
}

span.workexperiences-custom-card-sub-header {
    font-size: 15px;
    color: white;
}

div.workexperiences-custom-card-body {
    background: #D4E6F1; // Light-blue
}
/******************************************************************************/

/* PUBLICATIONS */
span.publications-number {
    font-size: 19px;
}
span.publications-author {}
span.publications-title {}
span.publications.conference {}
a.pub-link:hover    { text-decoration: none; color: white; }
a.pub-link:visited  { text-decoration: none; color: white; }
a.pub-link:active   { text-decoration: none; color: white; }
a.pub-link {
    color: white;
    background-color: rgb(206, 107, 206);
    margin-right: 2%;
    padding: 0.3%;
    text-align: center;
    border: 1px solid black;
}
/******************************************************************************/

/* ATTENDANCE */
span.attendance-name {}
span.attendance-date {
    color: grey;
}
span.attendance-venue {
    color: grey;
}
/******************************************************************************/

/* POSTS */
span.posts-title {
    font-size: 45px;
    font-weight: bold;
}
span.posts-subtitle {
    font-size: 35px;
    font-weight: bold;
}
span.posts-subsection-title {
    font-size: 30px;
    font-weight: bold;
}
span.posts-auth-date-info {
    color: grey;
}

div.source-code {
    padding-left: 10px;
    padding-bottom: 0;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgoldenrodyellow;
    border-color: black;
    border: 1px solid black;
}
span.source-code-input {
    color: grey;
}
span.source-code-output {
    color: purple;
}
/******************************************************************************/

/* PROJECTS */
span.projects-title {
    font-size: 23px;
    font-weight: bold;
}
a.projects-link:hover    { text-decoration: none; color: black; }
a.projects-link:visited  { text-decoration: none; color: black; }
a.projects-link:active   { text-decoration: none; color: black; }
a.projects-link {
    color: black;
    background-color: rgb(255, 255, 255);
    margin-top: 3%;
    padding: 1%;
    font-weight: bold;
    /* border: 1px solid black; */
    border-radius: 3%;
}
/******************************************************************************/